.conteudo-centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 20px;
    width: 400px;
  }
  .conteudo-centralizado div{
    width: 100%;
  }
  .conteudo-centralizado p, h1{
    text-align: center;
  }
  .conteudo-centralizado .alinhar-botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .conteudo-centralizado .alinhar-botoes button{
    margin: 20px;
  }
  .area-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  button {
    margin-top:20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border:none;
    border-radius: 5px;
    margin-top: 15px;
    background: #0AC5D4;
    box-shadow: 0px 3px 6px rgba(119, 119, 119, .1);
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
  }